/*------------------------------------*\
  # Variables
\*------------------------------------*/
/* --- Colors --- */
$black: #000000;
$black-text: #292929;
$blue-scw: #006BB6;
$blue-konqui: #1D99F3;
$red-bower: #EF5734;
$white: #FFFFFF;
$yellow-scw: #FFC420;